In [1]:
import pandas as pd
df=pd.read_csv('data/train.csv')

In [2]:
df.head()

,ID,제품,대분류,중분류,소분류,브랜드,2022-01-01,2022-01-02,2022-01-03,2022-01-04,...,2023-03-26,2023-03-27,2023-03-28,2023-03-29,2023-03-30,2023-03-31,2023-04-01,2023-04-02,2023-04-03,2023-04-04
0,0,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,1,3,2,0,0,2,0
2,2,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,B002-00003-00001,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
"""" 
대분류 기준 

B002-C001-0001    17.563296
B002-C001-0002    13.888351
B002-C001-0003     4.375000
B002-C001-0004     0.261261
B002-C001-0005    13.055465
Name: 0.25, dtype: float64
B002-C001-0001    25.259687
B002-C001-0002    21.221061
B002-C001-0003     6.710586
B002-C001-0004     2.153153
B002-C001-0005    22.137847

"""

In [8]:
df[df['대분류']=='B002-C001-0001'].loc[6:]

,ID,제품,대분류,중분류,소분류,브랜드,2022-01-01,2022-01-02,2022-01-03,2022-01-04,...,2023-03-26,2023-03-27,2023-03-28,2023-03-29,2023-03-30,2023-03-31,2023-04-01,2023-04-02,2023-04-03,2023-04-04
6,6,B002-00003-00003,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0,0,0,7,...,0,0,0,0,0,0,0,0,0,0
7,7,B002-00003-00004,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,B002-00003-00005,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0,0,0,15,...,0,0,0,0,0,0,0,0,0,1
9,9,B002-00003-00006,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,10,B002-00003-00007,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15826,15826,B002-03796-00008,B002-C001-0001,B002-C002-0001,B002-C003-0004,B002-03796,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
15827,15827,B002-03796-00009,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-03796,23,23,26,44,...,0,0,0,0,0,0,0,0,0,0
15828,15828,B002-03796-00010,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-03796,0,0,0,0,...,0,0,0,0,6,0,8,0,3,2
15829,15829,B002-03796-00011,B002-C001-0001,B002-C002-0001,B002-C003-0001,B002-03796,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15830,15830,B002-03796-00012,B002-C001-0001,B002-C002-0001,B002-C003-0001,B002-03796,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
columns=df.drop(['ID','제품','대분류','중분류','소분류','브랜드'],axis=1).columns

In [11]:
columns

Index(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
       '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
       ...
       '2023-03-26', '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-30',
       '2023-03-31', '2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04'],
      dtype='object', length=459)

In [13]:

for col in columns:
    condition = (df['대분류'] == 'B002-C001-0001') & \
                (df[col] >= 17.563296) 
    df.loc[condition, [col]] = 17

In [14]:
df.head()

,ID,제품,대분류,중분류,소분류,브랜드,2022-01-01,2022-01-02,2022-01-03,2022-01-04,...,2023-03-26,2023-03-27,2023-03-28,2023-03-29,2023-03-30,2023-03-31,2023-04-01,2023-04-02,2023-04-03,2023-04-04
0,0,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,1,3,2,0,0,2,0
2,2,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,B002-00003-00001,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
max_values = df.max()
print(max_values)

ID                       15889
제품            B002-03799-00010
대분류             B002-C001-0005
중분류             B002-C002-0011
소분류             B002-C003-0053
                    ...
2023-03-31                3960
2023-04-01                1830
2023-04-02                2700
2023-04-03                2730
2023-04-04                3600
Length: 465, dtype: object